<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Thyroid Disease Classification">
    <title>Predict</title>

    <link rel="shortcut icon" type="image/jpg" href="static/images/banner_1.png" />
    <link href="static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <link href="static/css/main.css" rel="stylesheet" media="all">
    <link href="static/css/predict.css" rel="stylesheet">
</head>
<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Thyroid Prediction Form</h2>
                </div>
                <div class="card-body">
                    <form action="/predictresult" method="POST">
                        <div class="form-row">
                            <div class="name">Age</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="age" min="1" max="94" placeholder="Enter your age" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">TSH Measured</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="TSH_measured" min="2.0" max="430.0" placeholder="e.g., 125" required step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">TT4 Measured</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="TT4_measured" min="0.31" max="2.12" placeholder="e.g., 1.14" required step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">FTI</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="FTI" min="0" max="1" placeholder="e.g., 0 or 1" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">T3 Measured</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="T3_measured" min="0.1" max="10.0" placeholder="e.g., 1.3" required step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">T4U Measured</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="T4U_measured" min="0.05" max="10.6" placeholder="e.g., 1.5" required step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">T3</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="T3" min="0.01" max="478.0" placeholder="e.g., 2.5" required step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">T4U</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="T4U" min="0" max="1" placeholder="e.g., 1" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">FTI Measured</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="FTI_measured" min="0" max="1" placeholder="e.g., 0 or 1" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Tumor</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="tumor" min="2" max="395" placeholder="e.g., 100" required>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Predict</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<section id="footer">
        <div class="social-links">
            <a href="https://github.com/msabhimanue" target="_blank"><i class="fa fa-github"></i></a>
            <a href="" target="_blank"><i class="fa fa-envelope"></i></a>
            <a href="https://www.instagram.com/abhi_manue_ms/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.youtube.com/watch?v=YyHM9xQyyas" target="_blank"><i class="fa fa-youtube-play"></i></a>
        </div>
    </section>
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/select2/select2.min.js"></script>
    <script src="static/vendor/datepicker/moment.min.js"></script>
    <script src="static/vendor/datepicker/daterangepicker.js"></script>
    <script src="static/js/global.js"></script>
</body>
</html>
